*.dSYM
sscxx
*.swp
*.o
.DS_Store
/build
/cmake-build-debug
/.idea
/.vscode
*.exe
*.zip
/third_party/llvm-build/Release+Asserts
/third_party/vcredist
*.aps
*.build
/debian/.debhelper
/debian/tmp
/debian/debhelper-build-stamp
/debian/yass-dbg.substvars
/debian/yass-dbg
/debian/yass.substvars
/debian/yass
/debian/files
*.msi
*.wixpdb
/debian_sid_*
/freebsd-11.3-toolchain
*.txz
*.xz
*.tgz
*.gz
*.rpm
/tools/build
/build-*
/cmake-build-*
/doxygen
