*.dSYM
sscxx
*.swp
*.o
.DS_Store
/build
/cmake-build-debug
/.idea
/.vscode
*.exe
*.zip
/third_party/llvm-build/Release+Asserts
/third_party/vcredist
/third_party/nasm
/third_party/wix311
/third_party/mingw32
/third_party/mingw64
/third_party/libcurl-vc16-x86-release-static-ipv6-sspi-schannel
/third_party/libcurl-vc16-x64-release-static-ipv6-sspi-schannel
/third_party/libcurl-vc16-arm64-release-static-ipv6-sspi-schannel
/third_party/curl-8.2.0_1-win32-mingw
/third_party/curl-8.2.0_1-win64-mingw
*.aps
*.build
/debian/.debhelper
/debian/tmp
/debian/debhelper-build-stamp
/debian/yass-dbg
/debian/yass
/debian/yass-client-dbg
/debian/yass-client
/debian/yass-server-dbg
/debian/yass-server
/debian/files
*.substvars
*.msi
*.wixpdb
/debian_sid_*
/freebsd-11.3-toolchain
*.txz
*.xz
*.tgz
*.gz
*.rpm
*.deb
/tools/build
/build-*
/cmake-build-*
/doxygen
/freebsd-*-toolchain
/freebsd-*-tmp
*.mo
yass.spec
!.circleci
/openwrt-sdk-*
/openwrt/Makefile
*.ipk
/android-*-tmp
/third_party/android_toolchain
/android-sysroot-*
