[submodule "third_party/asio"]
	path = third_party/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "third_party/lss"]
	path = third_party/lss
	url = https://chromium.googlesource.com/linux-syscall-support
[submodule "third_party/boringssl"]
	path = third_party/boringssl
	url = https://github.com/Chilledheart/boringssl
	branch = chromium-stable
[submodule "third_party/rapidjson"]
	path = third_party/rapidjson
	url = https://github.com/Chilledheart/rapidjson
	branch = stable
