*.bat   text eol=crlf
*.cmd   text eol=crlf
*.cs    text eol=crlf
*.crt   text eol=lf
*.sh    text eol=lf
*.patch text eol=lf
*.ts    text eol=lf
*.qm    binary
*.mo    binary
*.gmo   binary
*.strings binary
