[submodule "third_party/asio"]
	path = third_party/asio
	url = https://github.com/chriskohlhoff/asio
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp
