*.dSYM
sscxx
*.swp
*.o
.DS_Store
/build
/cmake-build-debug
/.idea
/.vscode
*.exe
*.zip
/third_party/llvm-build
/third_party/vcredist
/third_party/nsis
/third_party/nasm
/third_party/wix311
/third_party/mingw32
/third_party/mingw64
/third_party/libcurl-vc16-x86-release-static-ipv6-sspi-schannel
/third_party/libcurl-vc16-x64-release-static-ipv6-sspi-schannel
/third_party/libcurl-vc16-arm64-release-static-ipv6-sspi-schannel
/third_party/curl-*-win32-mingw
/third_party/curl-*-win64-mingw
/third_party/curl-*-win32-mingw
/third_party/curl-*-win64-mingw
/third_party/curl-*-win64a-mingw
/third_party/llvm-mingw-*-msvcrt-ubuntu-20.04-x86_64
/third_party/llvm-mingw-*-ucrt-ubuntu-20.04-x86_64
/third_party/llvm-mingw-*-ucrt-ubuntu-20.04-aarch64
/third_party/llvm-mingw-*-ucrt-macos-universal
/third_party/llvm-mingw-*-ucrt-i686
/third_party/llvm-mingw-*-ucrt-x86_64
/third_party/llvm-mingw-*-ucrt-aarch64
/third_party/crashpad
/third_party/depot_tools
*.aps
*.build
/debian/*.debhelper
/debian/tmp
/debian/debhelper-build-stamp
/debian/yass-dbg
/debian/yass
/debian/yass-client-dbg
/debian/yass-client
/debian/yass-server-dbg
/debian/yass-server
/debian/files
*.substvars
*.msi
*.wixpdb
/debian_sid_*
/debian_bullseye_*
*.txz
*.xz
*.tgz
*.gz
*.bz2
*.rpm
*.deb
*.zst
/tools/build
/build-*
/cmake-build-*
/doxygen
/freebsd-*-toolchain
/freebsd-*-tmp
*.mo
yass.spec
!.circleci
/openwrt-sdk-*
/openwrt/Makefile
*.ipk
/android-*-tmp
/third_party/android_toolchain
/android-sysroot-*
/android/yass/assets
/android/yass/build
/android/yass/libs
/android/yass/src/main/res/drawable/icon.png
local.properties
/.gradle
*.apk
*.ipa
/rustc-*-src
/third_party/rust-ohos
/*-alpine320-sysroot
*.flatpak
