@_YASS_LICENSE@

=== abseil-cpp ==

@_ABSEIL_CPP_LICENSE@

=== asio ==

@_ASIO_LICENSE@

=== boringssl ==

@_BORINGSSL_LICENSE@

=== googleurl ==

@_GOOGLEURL_LICENSE@

=== icu ==

@_ICU_LICENSE@

=== json ==

@_JSON_LICENSE@

=== leveldb ==

@_LEVELDB_LICENSE@

=== libc++ ==

@_LIBCXX_LICENSE@

=== libc++abi ==

@_LIBCXXABI_LICENSE@

=== libunwind ==

@_LIBUNWIND_LICENSE@

=== lss ==

@_LSS_LICENSE@

=== mbedtls ==

@_MBEDTLS_LICENSE@

=== protobuf ==

@_PROTOBUF_LICENSE@

=== quiche ==

@_QUICHE_LICENSE@

=== re2 ==

@_RE2_LICENSE@

== snappy

@_SNAPPY_LICENSE@

== sqlite

@_SQLITE_LICENSE@

=== tcmalloc ==

@_TCMALLOC_LICENSE@

=== tun2proxy ==

@_TUN2PROXY_LICENSE@

=== xxhash ==

@_XXHASH_LICENSE@

=== zlib ==

@_ZLIB_LICENSE@
