[Unit]
Description=Yet Another Shadow Socket
After=network-online.target nss-lookup.target
Wants=network-online.target

[Service]
Type=exec
DynamicUser=yes
LogsDirectory=yass
ExecStart=/usr/bin/yass_cli -c /etc/yass/config.json -log_dir=/var/log/yass
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
