{
    "method": "http2",
    "server": "localhost",
    "server_port": 443,
    "timeout": 0,
    "username": "username",
    "password": "password",
    "private_key_file": "/etc/yass/private_key.pem",
    "certificate_chain_file": "/etc/yass/pubkey.crt"
}
