[Unit]
Description=Yet Another Shadow Socket
After=network-online.target nss-lookup.target
Wants=network-online.target

[Service]
Type=exec
User=nobody
ExecStart=/usr/bin/yass_cli -c /etc/yass/redir.json -logtostderr --redir_mode
Restart=on-failure
RestartSec=5s
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
