{
    "local": "127.0.0.1",
    "local_port": 8001,
    "method": "http2",
    "server": "example.com",
    "server_port": 443,
    "timeout": 0,
    "username": "username",
    "password": "password"
}
