#include "resource.hpp"

#include <winuser.rh>
#include <winresrc.h>

// https://docs.microsoft.com/en-us/windows/win32/intl/code-page-identifiers

/////////////////////////////////////////////////////////////////////////////
// Unicode (UTF-8) resources

#ifdef _WIN32
#pragma code_page(65001)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
IDI_APPICON        ICON    "yass.ico"
IDI_TRAYICON       ICON    "yass-tray.ico"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE PRELOAD DISCARDABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
BEGIN
    IDS_START_BUTTON        "Start"
    IDS_STOP_BUTTON         "Stop"
    IDS_SERVER_HOST_LABEL   "Server Host"
    IDS_SERVER_PORT_LABEL   "Server Port"
    IDS_USERNAME_LABEL      "Username"
    IDS_PASSWORD_LABEL      "Password"
    IDS_METHOD_LABEL        "Cipher Method"
    IDS_LOCAL_HOST_LABEL    "Local Host"
    IDS_LOCAL_PORT_LABEL    "Local Port"
    IDS_TIMEOUT_LABEL       "Timeout"
    IDS_AUTOSTART_LABEL     "Auto Start"
    IDS_SYSTEMPROXY_LABEL   "System Proxy"
    IDS_ENABLE_LABEL        "Enable"
    IDS_SHOW_YASS_TIP       "Show YASS"
    IDS_START_FAILED_MESSAGE            "Start Failed"
    IDS_STATUS_CONNECTED_WITH_CONNS     "Connected with conns: "
    IDS_STATUS_FAILED_TO_CONNECT_DUE_TO "Failed to connect due to "
    IDS_STATUS_DISCONNECTED_WITH        "Disconnected with "
    IDS_STATUS_TX_RATE      " tx rate: "
    IDS_STATUS_RX_RATE      " rx rate: "
END

STRINGTABLE PRELOAD DISCARDABLE
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
BEGIN
    IDS_START_BUTTON        "启动"
    IDS_STOP_BUTTON         "停止"
    IDS_SERVER_HOST_LABEL   "服务器域名"
    IDS_SERVER_PORT_LABEL   "服务器端口号"
    IDS_USERNAME_LABEL      "用户名"
    IDS_PASSWORD_LABEL      "密码"
    IDS_METHOD_LABEL        "加密方式"
    IDS_LOCAL_HOST_LABEL    "本地域名"
    IDS_LOCAL_PORT_LABEL    "本地端口"
    IDS_TIMEOUT_LABEL       "超时时间"
    IDS_AUTOSTART_LABEL     "随系统自启动"
    IDS_SYSTEMPROXY_LABEL   "系统代理"
    IDS_ENABLE_LABEL        "启用"
    IDS_SHOW_YASS_TIP       "显示 YASS"
    IDS_START_FAILED_MESSAGE "启动失败"
    IDS_STATUS_CONNECTED_WITH_CONNS     "已产生连接: "
    IDS_STATUS_FAILED_TO_CONNECT_DUE_TO "无法连接因为 "
    IDS_STATUS_DISCONNECTED_WITH        "断开连接于服务器 "
    IDS_STATUS_TX_RATE      " 上传速率: "
    IDS_STATUS_RX_RATE      " 下载速率: "
END

STRINGTABLE PRELOAD DISCARDABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
BEGIN
    IDS_ABOUTBOX            "&About...\tCtrl-A"
    IDS_OPTIONBOX           "&Option...\tCtrl-O"
END

STRINGTABLE PRELOAD DISCARDABLE
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
BEGIN
    IDS_ABOUTBOX            "关于... (&A)"
    IDS_OPTIONBOX           "选项... (&O)"
END

STRINGTABLE PRELOAD DISCARDABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
BEGIN
    IDS_APP_TITLE       "YetAnotherShadowSocket"
    IDS_IDLEMESSAGE     "READY"
END

STRINGTABLE PRELOAD DISCARDABLE
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
BEGIN
    IDS_APP_TITLE       "YASS"
    IDS_IDLEMESSAGE     "就绪"
END

STRINGTABLE PRELOAD DISCARDABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
BEGIN
    ID_APP_MSG             "STATUS BAR"
END

STRINGTABLE PRELOAD DISCARDABLE
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
BEGIN
    ID_APP_MSG             "状态栏"
END

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAINFRAME MENU PRELOAD DISCARDABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Options...\tCtrl+O",          ID_APP_OPTION
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                        ID_APP_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About YetAnotherShadowsocket",ID_APP_ABOUT
    END
END

IDR_MAINFRAME MENU PRELOAD DISCARDABLE
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
BEGIN
    POPUP "文件 (&F)"
    BEGIN
        MENUITEM "选项... (&O)",                 ID_APP_OPTION
        MENUITEM SEPARATOR
        MENUITEM "退出 (&x)",                    ID_APP_EXIT
    END
    POPUP "帮助 (&H)"
    BEGIN
        MENUITEM "关于YASS (&A)",                ID_APP_ABOUT
    END
END

IDC_CONTEXTMENU MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Options...\tCtrl+O",          ID_APP_OPTION
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                        ID_APP_EXIT
    END
END

IDC_CONTEXTMENU MENU
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "选项... (&O)",          ID_APP_OPTION
        MENUITEM SEPARATOR
        MENUITEM "退出 (&X)",                        ID_APP_EXIT
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_OPTIONBOX DIALOG DISCARDABLE 0, 0, 210, 90
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Options"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "TCP Keep Alive",IDC_STATIC,10,15,80,12
    AUTOCHECKBOX    "", IDC_CHECKBOX_TCP_KEEP_ALIVE,120,15,80,12,ES_AUTOHSCROLL
    LTEXT           "TCP Keep Alive Timeout",IDC_STATIC,10,30,80,12
    EDITTEXT        IDC_EDIT_TCP_KEEP_ALIVE_TIMEOUT,120,30,80,12,ES_AUTOHSCROLL
    LTEXT           "TCP Keep Alive Interval",IDC_STATIC,10,45,80,12
    EDITTEXT        IDC_EDIT_TCP_KEEP_ALIVE_INTERVAL,120,45,80,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "&Ok",IDOK,20,65,66,15
    PUSHBUTTON      "&Cancel",IDCANCEL,110,65,66,15
END
