#include "resource.hpp"

#include <winuser.rh>
#include <winresrc.h>

// https://docs.microsoft.com/en-us/windows/win32/intl/code-page-identifiers

/////////////////////////////////////////////////////////////////////////////
// Unicode (UTF-8) resources

#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(65001)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//
IDR_MAINFRAME       ICON    DISCARDABLE     "yass.ico"

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
    IDS_ABOUTBOX            "&About...\tCtrl-A"
    IDS_OPTIONBOX           "&Option...\tCtrl-O"
END

STRINGTABLE PRELOAD DISCARDABLE
BEGIN
    IDS_APP_TITLE       "YetAnotherShadowSocket"
    IDS_IDLEMESSAGE     "READY"
END

STRINGTABLE PRELOAD DISCARDABLE
BEGIN
    ID_APP_MSG             "STATUS BAR"
END

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MAINFRAME MENU PRELOAD DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Options...\tCtrl+O",          ID_APP_OPTION
        MENUITEM SEPARATOR
        MENUITEM "E&xit",                        ID_APP_EXIT
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About YetAnotherShadowsocket",ID_APP_ABOUT
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_OPTIONBOX DIALOG DISCARDABLE 0, 0, 210, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Options"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Connect Timeout",IDC_STATIC,10,15,80,15
    EDITTEXT        IDC_EDIT_CONNECT_TIMEOUT,120,15,80,15,ES_AUTOHSCROLL
    LTEXT           "TCP User Timeout",IDC_STATIC,10,30,80,15
    EDITTEXT        IDC_EDIT_TCP_USER_TIMEOUT,120,30,80,15,ES_AUTOHSCROLL
    LTEXT           "TCP Linger Timeout",IDC_STATIC,10,45,80,15
    EDITTEXT        IDC_EDIT_TCP_SO_LINGER_TIMEOUT,120,45,80,15,ES_AUTOHSCROLL
    LTEXT           "TCP Send Buffer",IDC_STATIC,10,60,80,15
    EDITTEXT        IDC_EDIT_TCP_SO_SEND_BUFFER,120,60,80,15,ES_AUTOHSCROLL
    LTEXT           "TCP Receive Buffer",IDC_STATIC,10,75,80,15
    EDITTEXT        IDC_EDIT_TCP_SO_RECEIVE_BUFFER,120,75,80,15,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "&Ok",IDOK,20,95,66,15
    PUSHBUTTON      "&Cancel",IDCANCEL,110,95,66,15
END
