Source: yass
Maintainer: Chilledheart <rwindz0@gmail.com>
Section: net
Priority: optional
Standards-Version: 3.9.2
Build-Depends:
 cmake (>= 3.8),
 debhelper (>= 9),
 pkg-config,
 perl,
 golang,
 libunwind-dev,
 libjsoncpp-dev,
 libgtk-3-dev,
 libgtkmm-3.0-dev
Rules-Requires-Root: no
Homepage: https://github.com/Chilledheart/yass
Vcs-Git: https://github.com/Chilledheart/yass.git
Vcs-Browser: https://github.com/Chilledheart/yass

Package: yass
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends:
 lsb-base (>= 3.0-6),
 ${misc:Depends},
 ${shlibs:Depends}
Description: lightweight and secure http/socks4/socks5 proxy
 Yet Another Shadow Socket is a lightweight and secure http/socks4/socks5 proxy for
 embedded devices and low end boxes.

Package: yass-dbg
Section: debug
Architecture: any
Depends:
    yass (= ${binary:Version}),
    ${misc:Depends},
Description: Debugging symbols for the yass package.
 This package contains the debugging symbols for the yass package.
