Source: yass
Maintainer: Chilledheart <rwindz0@gmail.com>
Section: net
Priority: optional
Standards-Version: 3.9.2
Build-Depends:
 cmake (>= 3.12),
 debhelper (>= 9),
 pkg-config,
 perl,
 gcc (>= 6.1),
 g++ (>= 6.1),
 golang,
 libunwind-dev,
 libgtk-3-dev,
 libgtkmm-3.0-dev (>= 3.18)
Rules-Requires-Root: no
Homepage: https://github.com/Chilledheart/yass
Vcs-Git: https://github.com/Chilledheart/yass.git
Vcs-Browser: https://github.com/Chilledheart/yass

Package: yass
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends:
 lsb-base (>= 3.0-6),
 ${misc:Depends},
 ${shlibs:Depends}
Description: lightweight and secure http/socks4/socks5 proxy
 Yet Another Shadow Socket is a lightweight and secure http/socks4/socks5 proxy for
 embedded devices and low end boxes.

Package: yass-dbg
Section: debug
Architecture: any
Depends:
    yass (= ${binary:Version}),
    ${misc:Depends},
Description: Debugging symbols for the yass package.
 This package contains the debugging symbols for the yass package.

Package: yass-server
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends:
 lsb-base (>= 3.0-6),
 ${misc:Depends},
 ${shlibs:Depends}
Description: lightweight and secure http/socks4/socks5 proxy
 Yet Another Shadow Socket is a lightweight and secure http/socks4/socks5 proxy for
 embedded devices and low end boxes.

Package: yass-server-dbg
Section: debug
Architecture: any
Depends:
    yass-server (= ${binary:Version}),
    ${misc:Depends},
Description: Debugging symbols for the yass-server package.
 This package contains the debugging symbols for the yass-server package.

Package: yass-client
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends:
 lsb-base (>= 3.0-6),
 ${misc:Depends},
 ${shlibs:Depends}
Description: lightweight and secure http/socks4/socks5 proxy
 Yet Another Shadow Socket is a lightweight and secure http/socks4/socks5 proxy for
 embedded devices and low end boxes.

Package: yass-client-dbg
Section: debug
Architecture: any
Depends:
    yass-client (= ${binary:Version}),
    ${misc:Depends},
Description: Debugging symbols for the yass-client package.
 This package contains the debugging symbols for the yass-client package.
