#!/usr/bin/make -f
# -*- makefile -*-
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

# Security Hardening
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
NCPUS = $(shell nproc)

%:
	dh $@ --builddirectory=build

override_dh_auto_clean:
	dh_auto_clean
	rm -rf third_party/boringssl/build
	rm -f third_party/boringssl/libcrypto.a
	rm -f third_party/boringssl/libssl.a

third_party/boringssl/libssl.a:
	./scripts/build-boringssl.sh

override_dh_auto_configure: third_party/boringssl/libssl.a
	dh_auto_configure -- -DCMAKE_BUILD_TYPE=Release -DCMAKE_EXE_LINKER_FLAGS="-static-libstdc++ -static-libgcc" -DGUI=on -DCLI=off -DSERVER=off

override_dh_auto_build:
	dh_auto_build -- -j $(NCPUS)

override_dh_strip:
	dh_strip -pyass --dbg-package=yass-dbg
